# =========================
# NODE
# =========================
node_modules/

# =========================
# BUILD
# =========================
dist/
build/
.next/
out/

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# ENV
# =========================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================
# TYPESCRIPT
# =========================
*.tsbuildinfo

# =========================
# PRISMA
# =========================
prisma/dev.db
prisma/dev.db-journal

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# CACHE
# =========================
.cache/
.tmp/
temp/

# =========================
# UPLOADS
# =========================
uploads/
public/uploads/

# =========================
# TESTS
# =========================
coverage/

# =========================
# TURBO / VITE
# =========================
.turbo/
vite.config.timestamp-*

# =========================
# PM2
# =========================
.pm2/

# =========================
# DOCKER
# =========================
docker-data/

# =========================
# MAC
# =========================
.AppleDouble
.LSOverride

# =========================
# WINDOWS
# =========================
ehthumbs.db
Desktop.ini